body {
  background-color: rgb(238, 238, 237);
  padding: 2vh;
}

.content > img {
  height: 100px;
}

.hidden {
  display: none;
}

input[type="text"] {
  max-width: 300px;
}

.author {
  font-family: cursive;
  font-size: smaller;
}
